/**
 * Titles
 */

.release-date {
     font-weight: bold;
}

ul {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

/**
 * Controls
 */

.input-text {
    margin-left: 29px;
    max-width: 320px;
}

input[type=radio] {
    margin: 0px;
}

label {
    margin-left: 10px;
}

input[type=radio], label {
    display: inline-flex;
}

.ruleset-generator {
    margin-top: 10px;
    display: inline-flex;
    width: 100%;
}

#history {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}

#generator-section {
    display: none;
}
