/**
 * Sections
 */

body {
    color: #555;
    cursor: default;
    font-family: 'Noto Sans', Arial, sans-serif !important;
    font-size: 14px;
    margin-top: -15px;
    padding: 10px !important;
}

.option {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.html-filter-section {
    background-color: lightgrey;
    margin-top: 15px;
    border-radius: 3px;
}

.html-filter-section > .option {
    margin-top: 0px;
}

.notice {
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 25px;
    max-width: 470px;
    padding: 14px 16px;
}

.notice-default {
    background-color: #f1f1f1;
}

.notice-warning {
    background-color: #ffa500;
    color: #fff;
}

#notice-locale {
    background-color: #ffa500;
    color: white;
    font-weight: 600;
}

.without-checkbox {
    margin: 0px !important;
    padding: 0px !important;
}

/**
 * Fonts
 */

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../modules/noto-sans/noto-sans.woff2')
         format('woff2');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../../modules/noto-sans/noto-sans-bold.woff2')
         format('woff2');
}

@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../../modules/noto-sans/noto-sans-italic.woff2')
         format('woff2');
}

/**
 * Titles
 */

.title-option {
    align-items: center;
    display: flex;
    font-weight: 600;
}

.title-option-select {
    line-height: 1.54;
    font-size: 12px;
    font-family: inherit;
    font-weight: 600;
    padding-left: 25px;
}

/**
 * Controls
 */

.input-checkbox {
    margin: 0 4px 0 0;
    outline: 0;
}

.input-text {
    border-radius: 3px;
    border: 1px solid darkgrey;
    padding: 5px !important;
    margin-top: 10px !important;
    color: #555;
}

#selected-icon {
    width: max-content;
}

/**
 * Icons
 */

.icon {
    margin-right: 3px;
}

#ruleset-help-icon {
    display: inline-block;
    cursor: pointer;
    background-image: url("../../icons/info-dark.svg");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    margin-left: 5px;
    width: 15px;
    height: 15px;
}

/**
 * Buttons
 */

.button {
    -moz-user-select: none;
    background-color: #f5f5f5;
    border-radius: 2px;
    border: 1px solid #cfcfcf;
    color: #5f5f5f;
    cursor: pointer;
    float: right;
    font-size: 12px;
    outline: 0;
    padding: 5px 22px;
    text-decoration: none;
    user-select: none;
    text-align: center;
    background: none;
}

.button:hover {
    background-color: #fff;
}

.button:active {
    background-color: #dedede;
}

.button-warning {
    background-color: #ea9700;
    border: 1px solid #d88c00;
    color: #fff;
}

.button-warning:hover {
    background-color: #d88c00;
    border-color: #c98200;
    color: #fff !important;
}

.button-warning:active {
    background-color: #c07c00;
    border-color: #b47400;
}

.button-notice {
    margin-left: auto;
    padding: 5px 9px;
}

#html-filter-domains-title-exclude {
    display: none;
}

/**
* Links
*/

.link-text {
    color: #999;
}

/**
 * Miscellaneous
 */

.description-option {
    color: #777;
    font-style: italic;
    padding-left: 25px;
    font-size: 12px;
}

.badge {
    border-radius: 3px;
    color: #fff;
    font-size: 8px;
    margin-left: 6px;
    padding: 3px 5px;
    text-transform: uppercase;
}

.badge-warning {
    background-color: #ffa500;
}

.warning-red {
    color: red;
    background-color: transparent;
    margin-left: 0px;
    display: block;
    font-size: 10px;
}

.warning-red > a {
    color: red;
    font-weight: bold;
}

#negate-html-filter-list-warning {
    margin: 10px 0px 30px 0px;
}

.hidden {
    display: none !important;
}

.label-checkbox {
    align-items: center;
    display: flex;
}

.notice-head {
    font-weight: 600;
    margin-bottom: 6px;
}

.notice-body {
    align-items: center;
    display: flex;
}

.notice-message {
    line-height: 1.3;
    margin-right: 14px;
}

#generated-rules {
    display: none;
}

.ruleset-generator {
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.last-update {
    font-weight: 600;
    background-color: #ffa500;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    padding: 3px 5px !important;
    text-transform: uppercase;
    font-style: normal;
}

#block-google-fonts {
    padding-left: 25px;
    padding-bottom: 0px;
    padding-top: 0.5rem;
}

#block-google-fonts-desc {
    padding-left: 0px;
}

.option-disabled > .title-option > .b-contain,
.b-contain input[type="checkbox"]:disabled ~ .b-input {
    cursor: default !important;
}

.option-disabled {
    color: gray !important;
}

.option-disabled > .title-option > .b-contain > .b-input {
    background: gray !important;
    cursor: default;
}

.option-disabled > .title-option > .b-contain input:checked ~ .b-input {
    background: gray !important;
    border-color: gray !important;
}

/**
 * Right to Left
 */

body[dir="rtl"] .badge {
    margin-left: 0;
    margin-right: 6px;
}

body[dir="rtl"] .description-option {
    margin-left: 0;
    margin-right: 29px;
}

body[dir="rtl"] .input-checkbox {
    margin: 0 0 0 4px;
}

body[dir="rtl"] .input-text {
    margin-left: 0;
    margin-right: 29px;
}

.option-group {
    background-color: #e1e1e1;
    margin-top: 2rem;
    padding: .7rem;
    border-radius: 3px;
}

.option-links {
    list-style-type: disclosure-closed;
}

.option-links-div > ul {
    padding-top: 2rem;
}

.option-links-div > ul > li {
    padding-bottom: .5rem;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #202023;
    }

    body, .title-option {
        color: #aeaeae;
    }

    .description-option {
        color: #b1b1b3;
    }

    .notice-head > span, #last-mapping-update, .badge-warning, .notice-message, .button-warning {
        color: #4b3000 !important;
    }

    .option-group {
        background-color: #1d1d1d;
    }

    .input-text {
        background-color: #434343;
        color: #aeaeae !important;
    }
}
