/**
 * Donations
 */

#table-bank-transfer, .mono-block {
    font-family: 'monospace', 'Consolas', Arial, sans-serif;
}

#table-bank-transfer > tbody > tr > td:nth-of-type(1) {
    font-weight: bold;
}

.div-donations {
    border-radius: 4px;
    border: 1px solid lightgrey;
}
